html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  *{
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  input,button{
    border: none;
    outline: none;
    
  }
  button{
    background-color: transparent;
  }
 
}
html{
  &:has(.section-header.active){
    overflow-y: hidden;
    padding-right: 16.5px;
  }
}
.section{
  padding: 0 35px;
  width: 100%;
  // display: flex;
  // justify-content: center;
  .wrapper{
    width: 100%;
    height: 100%;
  }
}

@media(max-width:1280px){
  .section{
    padding: 0 16px;

  }
}